:root{
    --cor_fundo_azul:  #256D85;   
    --cor_letra_laranja: #FF9551;
    --azul_escuro: #002B5B;
}

*{
    margin: 0;
    box-sizing: border-box;  
}

body{
    background-color: var(--cor_fundo_azul);
    color: var(--cor_letra_laranja);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alignColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alignRow {
    display: flex;
    align-items: center;
}

.capa {
    height: 450px;
    width: 100%;
    /* background-color: #2B4865; */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.bigButton {
    padding: 1em;
    width: 50%;
    border-color: var(--cor_letra_laranja);
    background-color: white;
    color: black;
    border: 0px;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    width: 20em;
    border-color: var(--azul_escuro);
    text-align: center;
}

.smallButton {
    padding: 0.6em 0.5em;
    background-color: white;
    color: black;
    border: 0px;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    width: 9em;
    color: #001b3a;
    text-align: center;
    transition: all 0.3s;
}

.smallButton:hover {
    background-color: #465c77c0;
    color: white;
}

.changeButton {
    padding: 0.6em 0.5em;
    background-color: white;
    color: black;
    border: 0px;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    width: 5em;
    color: #001b3a;
    text-align: center;
}

.changeButton:hover {
    background-color: #465c77c0;
    color: white;
}

.formDiv {
    width: 40%;
    background-color: white;
    padding: 2em;
    border-radius: 20px;
    margin-top: 5.5em;
}

.formInputs {
    margin-top: 1em;
}

.formInputs input {
    margin: 5% 0px;
    padding: 0.2em;
    border-radius: 15px;
    width: 20em;
    border-color: var(--azul_escuro);
}

input[type=submit] {
    padding: 1em;
    width: 50%;
    border-color: white;
    background-color: var(--cor_letra_laranja);
    color: white;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s;
}

input[type=submit]:hover {
    width: 55%;
    padding: 1.25em;
}

nav {
    width: 100%;
    background-color: var(--azul_escuro);
    justify-content: space-evenly;
}

nav a {
    padding: 1.5em 0em;
    color: white;
    text-decoration: none;
    transition: font-size 0.5s;
}

nav a:hover {
    font-size: 1.1rem;
}

header button {
    border-radius: 5px;
    border: none;
    padding: 0.75em;
    width: 4em;
}

header button:hover {
    background-color: var(--cor_letra_laranja);
    color: white;
}

header button:focus {
    background-color: #de7e42;
    color: white;
}

.index_top {
    align-items: center;
}

#portalacesso{
    position: absolute;
    left: 1350px;
}

footer {
    padding: 1.5em 1.5em;
    background-color: var(--azul_escuro);
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#navinicial {
    padding: 1.5em;
}

.cardSection {
    display: flex;
    flex-flow: row wrap;
    margin: 0em 2em;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #38CF5B;
}

input:focus + .slider {
    box-shadow: 0 0 1px #38CF5B;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    width: 14em;
    min-height: 16em;
    margin: 1em;
}

.card p {
    padding: 1em;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    color: var(--azul_escuro);
    font-size: 20px;
    font-weight: bold
}

/*
.card {
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */

  
/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.card:hover .card-inner {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
}
  
  /* Style the front side (fallback if image is missing) */
.card-front {
    border-radius: 15px;
    background-color: var(--cor_letra_laranja);
    background-image: url("https://mixkit.imgix.net/art/85/85-original.png-1000h.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
  
/* Style the back side */
.card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: var(--azul_escuro);
    color: white;
    transform: rotateY(180deg);
}

#site-name {
    width: 130px;
    margin-right: 10px
}

